<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.glg.mygif">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:resizeableActivity="true"
        android:maxAspectRatio="2.4"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".activity.VideoActivity"></activity>
        <activity android:name=".activity.PersonalActivity"
            android:theme="@style/TranslucentTheme"/>
        <meta-data
            android:name="android:notch_support"
            android:value="true" />

        <!--ImmersionBar-->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />

        <!--适配华为（huawei）刘海屏-->
        <meta-data
            android:name="android.notch_support"
            android:value="true"/>
        <!--适配小米（xiaomi）刘海屏-->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />

<!--        <meta-data-->
<!--            android:name="UMENG_CHANNEL"-->
<!--            android:value="${UMENG_CHANNEL_VALUE}" />-->

        <activity android:name=".activity.BaseActivity" />
        <activity
            android:name=".activity.VideoDetailsActivity"
            />
        <activity
            android:name=".activity.ImageDetailsActivity"
            android:theme="@style/TranslucentTheme"/>
        <activity
            android:name=".activity.EditPersonalIntroductionActivity"
            />
        <activity
            android:name=".activity.GifActivity"
            />
        <activity
            android:name=".activity.PublishActivity"
            />
        <activity
            android:name=".activity.SearchActivity"
            android:theme="@style/SearchActivity" />
        <activity
            android:name=".activity.FruitActivity"
            android:theme="@style/FruitActivityTheme" />
        <activity android:name=".activity.MainActivity"
            android:theme="@style/MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="MyGif.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>